.geral {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: #962F2F; 
}

.linkvoltar {
    text-decoration: none;
    color: #C65A37;
    margin-left: 1em;
}

.boxlogin {
    background-color: #F3F0ED;
    width: 65vh;
    height: fit-content;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

/* Parte dos inputs aqui */
.email, .senha {
    margin-bottom: 2px;
}

/*.inputemail, .inputsenha {
    border: 2px solid #C65A37; 
    width: 80%; /* Altere aqui para mudar a largura 
    height: 2.5em !important; /* Altere aqui para mudar a altura 
    border-radius: 0.5em;
    margin-bottom: 2em;
    background-color: transparent;
}*/

.lembrarsenha {
    margin-top: 3%;
    margin-bottom: 3%;
}

.esqueceusenha {
    margin-left: 15%;
    margin-bottom: 3%;
}

.continuar {
    border-radius: 30px;
    width: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
    text-align: center; 
    outline: none;
    background-color: #962F2F;
    border: none;
    font-size: 15px;
    color: #F3F0ED;
}

/*.textocontinuar {
    text-decoration: none;
    color: #fff;
}*/

.linkcadastro,
.linkrecuperar {
    color: #C65A37;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .boxlogin {
        width: 80%; /* Aumenta a largura em telas menores */
        height: auto; /* Permite que a altura se ajuste automaticamente */
        padding: 2em; /* Reduz o padding */
    }

    .inputemail, .inputsenha {
        width: 90%; /* Aumenta a largura dos inputs em telas menores */
        height: 2em; /* Ajusta a altura */
    }

    .continuar {
        margin-left: 10%; /* Ajusta a margem em telas menores */
        width: 80%; /* Aumenta a largura do botão */
    }
}

@media (max-width: 480px) {
    .boxlogin {
        padding: 1.5em; /* Ajusta o padding para telas muito pequenas */
    }

    .inputemail, .inputsenha {
        height: 1.8em; /* Ajusta a altura para telas muito pequenas */
    }
}