.perfilartistacorpo {
    margin: 7% 0 0 3%; /* Margem superior e esquerda */
    width: 25%;
    padding: 1em 3% 1em 1%; /* Padding em cima, direita, embaixo e esquerda */
    background-color: transparent;
    border: 2px solid rgb(168, 160, 160);
    border-radius: 1em;
}

.seguir {
    margin: 3% 37% 3% 37%; /* Margens superior, direita, inferior e esquerda */
}
.denunciar {
    opacity: 0.5; 
    margin-top: 5%;
    font-size: 80%;
    color: black;
}
.interessebutton {
    background-color: none;
    border: 1px solid rgb(168, 160, 160);
    width: 6em;
    margin-top: 4%;
    height: 3em;
    border-radius: 4em;
}

.interessebutton1 { /*fiz esta div diferente para dar espaço nos button de interreses e tals*/
    background-color: none;
    margin-left: 2%;
    margin-right: 2%;
    width: 6em;
    margin-top: 4%;
    height: 3em;
    border-radius: 4em;
    border: 1px solid rgb(168, 160, 160);
}


.imgUser {
    height: 120px;
    display: block; /* Para centralizar a imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.nomeart {
    text-align: center; /* Centraliza o texto */
    font-size: larger;
}

.user {
    opacity: 0.5; 
    text-align: center; /* Centraliza o texto */
}

.elementosalinhar {
    margin-left: 6%;
}

.alinha1, .alinha2 {
    opacity: 0.5; 
    display: flex; 
    align-items: center; 
}

.work,
.map {
    margin-right: 8px; /* Espaço entre a imagem e o texto */
    width: 24px; /* Tamanho das imagens */
    height: 24px; 
}

.caixas {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça igualmente as caixas */
}

.caixa1, .caixa2 {
    width: 48%; 
    height: 10em; 
    margin: 5px; 
    border: 1px solid rgb(168, 160, 160);
    background-color: none;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 10px; 
}

.textocaixa {
    text-align: center;
    opacity: 0.5;
    margin-bottom: 10px; /* Espaçamento inferior */
}

.subtextcaixa {
    font-size: 15px;
    opacity: 0.5;
    text-align: center;
}

.linha1, .linha2 {
    display: flex; 
    justify-content: flex-start; 
    margin-bottom: 10px; /* Espaçamento inferior */
}

.linha1 img, .linha2 img {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}

.caixasuperiordireita{
    background-color: aqua;
    width: 30%;
    height: 50%;
}



