body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f3f0ed;
}

.emAlta {
    margin-left: 30px;
    margin-top: 5rem;
}

.desenhos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    column-gap: 30px;
    row-gap: 30px;
    margin: 20px;
}

.desenho1 {
    text-align: center;
    align-items: center;
}

.desenho1,
.desenho2,
.desenho3,
.desenho4,
.desenho5,
.desenho6 {
    height: 350px;
    background-color: #C65A37;
    border-radius: 40px;
}

.vizualizar {
    margin-top: 3vh;
    background: none;
    width: 20vh;
    height: 5vh;
    border-color: #f3f0ed;
    border-radius: 10px;
    border-style: solid;
    transition-duration: 0.4s;
}

.vizualizar:hover {
    background-color: #e9a28b;
    color: rgb(0, 0, 0);
}

.aviso {
    margin-top: 20%;
    color: #f3f0ed;
    font-size: medium;
}

.linkvizu {
    text-decoration: none;
    color: #f3f0ed;
}

.eventos div {
    max-width: 390px;
    height: 167px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 36px;
    flex: 1 0 390px;
    border-radius: 19px;
    background-color: #C65A37;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-weight: 600;
    margin-top: 4em;
}

.eventos {
    display: flex;
    justify-content: left;
    gap: 2em;
    background-color: #f3f0ed;
    margin-left: 3em;
    margin-top: 5%;
    color: #f3f0ed;
}

@media (max-width: 768px) {
    .desenhos {
        grid-template-columns: 1fr;
        margin: 10px;
    }

    .eventos {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .eventos div {
        max-width: 100%;
        margin-top: 2em;
    }

    .vizualizar {
        width: 50vh;
        height: 7vh;

    }
}

@media (max-width: 480px) {
    .emAlta {
        margin-left: 15px;

    }

    .aviso {
        font-size: small;

    }
}